@charset "UTF-8";
/* CSS Document */
	
.highlight_box1 {
	display: block;
	float: left;
	margin: 9px 0 0 0;
	background-color: #f6f6f6;
	width: 620px;
	min-height: 273px;
}

#news_div {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:18px;
	color:#757887;
	line-height: 24px;
	width: 660px;
	margin-left: 0;
	}
