body {
	background: #FFF;
	margin: 0px;
	padding: 0px;
	}
	
p {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:18px;
	color: #757887;
	line-height: 24px;
	padding-bottom: 15px;
	letter-spacing:-.05em;
	}
	
h1 {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:30px;
	color: #313035;
	line-height: 36px;
	letter-spacing:-1px;
	}
	
.header_title {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:30px;
	color: #313035;
	line-height: 36px;
	letter-spacing:-1px;
	display: block;
	}

h2 {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:24px;
	color: #333333;
	text-shadow:#cccccc 1px 1px 0px;
	letter-spacing:-2px;
	}

h3 {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:18px;
	color: #8f8f8f;
	line-height: 50px;
	letter-spacing:-1px;
	}
			
#wrapper {
	width: 960px;
	margin: 0 auto;
	}
	
.top-bar {background: #a7c7dc; /* Old browsers */
background: -moz-linear-gradient(top,  #a7c7dc 0%, #85b2d3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c7dc), color-stop(100%,#85b2d3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a7c7dc 0%,#85b2d3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a7c7dc 0%,#85b2d3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */

	height: 54px;
}
	
#top_logo {
	width: 520px;
	margin: -44px 0 0 0;
	float: left;
	}
	
a img {
	border: none;
	}
	
#top_bs_slogan {
	color: #FFF;
	font-family: sans-serif;
	float: right;
	width: 400px;
	margin: -38px 0 0 0;
	}
		
#header_area {
	width: 960px;
	min-height: 418px;
	clear: both;
	padding-top: 45px;
	}
	
#header_left {
	float: left;
	width: 630px;
	}
	
#header_right {
	float: right;
	width: 300px;
	text-align: right;
	}
	
#cta_area {
	width: 620px;
	color: #fff;
	}
	
.cta_left, .cta_right {
	float: left;
	width: 360px;
	margin-top: 20px;
	}
	
.cta_left ul, .cta_right ul {
	margin:0;
	padding: 0;
	list-style:none;
	list-style-position: inside;
	line-height: 36px;
	margin-left: 20px;
	}
	
.cta_left li, .cta_right li {
	padding: 0 0 0 0;
	margin:0;
	font-family:MyriadProRegular, Helvetica, sans-serif;
	color: #757887;
	font-size:18px;
	font-style:italic;
	text-transform: uppercase;
	}
	
.cta_left li:before, .cta_right li:before {
	content:  "\2713 ";
	font-size: 2em;
	color: #2d78d2;
}

.cta_right {
	float: left;
	width: 240px;
	text-align: left;
	}
	
ul {
	margin:0;
	padding: 0;
	list-style:none;
	list-style-position: inside;
	line-height: 1.8em;
	list-style-type:disc;
	}
	
li {
	padding: 0 0 0 0;
	margin:0;
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:12px;
	}
	
.clear {
	margin: 0 0 40px 0;
	}
	
#footer_wrapper {
	clear: both;
	border-top: 32px solid #FFF;
	min-height:250px;
	margin-top: 40px;
	background-color: #ededed;
	}
	
#footer_container {
	margin: 0 auto;
	width: 960px;
	}
	
#footer_left {
	float: left;
	width: 500px;
	margin-top: 70px;
	}
	
#footer_left2 {
	float: left;
	width: 200px;
	margin-top: 70px;
	margin-left: 60px;
	}
	
#footer_left2 ul {
	display: inline;
	margin: 0 5px 0 0;
	padding:20px 0 0 0;
	}
	
.social2 li {
	display: inline;
	margin: 0 5px 0 0;
	padding:20px 0 0 0;
	}
	
#footer_left2 li {
	display: inline;
	margin: 0 5px 0 0;
	padding:20px 0 0 0;
	}
	
#footer_right {
	float: right;
	width: 200px;
	margin-top: 90px;
	text-align:right;
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:11px;
	color: #737373;
	}
	
#footer_bottom {
	margin: 0 auto;
	width: 960px;
}
	
.footer_heading {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:20px;
	color: #808080;
	letter-spacing:-1px;
	padding-bottom: 20px;
	}
	
.copyright {
	float:left;
	clear: both;
	width: 520px;
	font-family:Helvetica, sans-serif;
	font-size:11px;
	color: #737373;
	padding-top: 20px;
	border-top: 1px solid #ffffff;
	}
	
.copyright a {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:11px;
	color: #737373;
	text-decoration:underline;
	}

	
.highlight_box1 {
	display: block;
	float: left;
	margin: 9px 0 0 0;
	background-color: #f6f6f6;
	width: 620px;
}

.highlight_box1 p {
	display: block;
	color:#757887;
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:14px;
	padding: 10px 10px 10px 20px;
	}
	
.highlight_box1_title {
	display: block;
	margin: 0px;
	padding: 10px 10px 10px 20px;
	background-color: #2d78d2;
	color:#f0f0f0;
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:24px;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	font-style:italic;
	}
	
.full_width {
	width: 960px;
	text-align:center;
	clear: both;
	padding-top: 30px;
	}
	
.quote_header {
	color: #2d78d2;
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:30px;
	}
	


/***********************************************************************************************************************
 STYLES FOR TWITTER FEED
************************************************************************************************************************/

.tweet, .query {
  font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	line-height:1.5em; }
  
.tweet .tweet_list, .query .tweet_list {
    list-style-type: none;
	}
	
.tweet .tweet_list .awesome, .tweet .tweet_list .epic, .query .tweet_list .awesome, .query .tweet_list .epic {
      text-transform: uppercase; }
	  
.tweet .tweet_list li, .query .tweet_list li {
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0;
	  font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:12px;
	color:#737373;
	border-bottom: none;
	border-top: none;
list-style:none;
margin-bottom:10px;
padding-top:0px;
padding-bottom:10px;}
	  
.tweet .tweet_list li a, .query .tweet_list li a {
        color: #2d78d2; }
	  
.tweet .tweet_list .tweet_avatar, .query .tweet_list .tweet_avatar {
      padding-right: .5em;
      float: left; }
	  
.tweet .tweet_list .tweet_avatar img, .query .tweet_list .tweet_avatar img {
        vertical-align: middle;
		padding:0 10px 0 0;}
		
.tweet .tweet_first {
	padding: 0;}
	
.tweet-button_container {
	margin-bottom: 20px;}
	
	
#news_div {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:18px;
	color:#757887;
	line-height: 24px;
	width: 660px;
	margin-left: 145px;
	}
	
#news_div ul{
	list-style:none;
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:18px;
	color:#757887;
	line-height: 24px;
	}
	
#news_div li{
	list-style:none;
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:18px;
	color:#757887;
	line-height: 24px;
	padding-top: 30px;
	min-height: 80px;
	}
	
#news_div li a{
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:18px;
	line-height: 24px;
	color:#a14933;
	text-decoration:none;
	}
	
#news_div li a:hover{
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:18px;
	color:#757887;
	line-height: 24px;
	text-decoration:underline;
	}
	
#top_logo h1 {float:left;}


.marketing_logo_first, .marketing_logo_second {padding: 2px;
	font-size: 42px;
	margin-top: 0;
}

.marketing_logo_first {color: #222;
		color: #2d78d2;
	text-shadow: 1px 1px 1px #0b004a;
        filter: dropshadow(color=#0b004a, offx=1, offy=1);
        text-shadow: 0px 2px 3px #555;
}

.marketing_logo_first:before {
	content: '★';
	color: #596a72;
	font-size: .9em;
}

.marketing_logo_second {font-weight: bold;
color: #FFF;
	text-shadow: 1px 1px 1px #0b004a;
        filter: dropshadow(color=#0b004a, offx=1, offy=1);
        text-shadow: 0px 2px 3px #555;
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.cta_left ul li, .cta_left ul li {text-transform: uppercase;}

/*product box*/

.product_box {
	transform: perspective( 600px ) rotateY( -15deg );
		-webkit-transform: perspective( 600px ) rotateY( -15deg );
  display: inline-block;
  width: 100%;
  height: 360px;
  padding: 10px;
  margin: 10px;
  background: #6db3f2; /* Old browsers */
background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 63%, #1e69de 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(63%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 63%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 63%,#1e69de 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 63%,#1e69de 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 63%,#1e69de 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
  font-weight: bold;
  text-decoration: none;
  position: relative;
  box-shadow: 
    1px 1px #1e5799,
    2px 2px #1e5799,
    3px 3px #1e5799,
    4px 4px #1e5799,
    5px 5px #1e5799,
    6px 6px #1e5799,
    7px 7px #1e5799,
    8px 8px #1e5799,
    9px 9px #1e5799,
    10px 10px #1e5799,
    11px 11px #1e5799,
    12px 12px #1e5799,
    13px 13px #1e5799,
    14px 14px #1e5799,
    15px 15px #1e5799,
    16px 16px #1e5799,
    17px 17px #1e5799,
    18px 18px #1e5799,
    19px 19px #1e5799,
    20px 20px #1e5799,
    21px 21px #1e5799,
    22px 22px #1e5799,
    23px 23px #1e5799,
    24px 24px #1e5799,
    25px 25px #1e5799,
    26px 26px #1e5799,
    27px 27px #1e5799,
    28px 28px #1e5799,
    29px 29px #1e5799,
    30px 30px #1e5799,
    31px 31px #1e5799,
    32px 32px #1e5799,
    33px 33px #1e5799,
    34px 34px #1e5799,
    35px 35px #1e5799,
    36px 36px #1e5799;
}

.product_box h2 {font-size: 24px; border: 2px solid white;}

.product_box h1 {border-bottom: 1px dotted white;}

.product_box h1, .product_box h2, .product_box p, .edition {text-align: center;
	text-transform: uppercase;
}
.product_box p {background: #FAFAFA;
	line-height: 1em;
	vertical-align: middle;
	margin: auto auto 12px auto;
	padding-bottom: 0;
	height: 12px;
	width: 40%;
	font-size: 09px;
}

.product_box .dollar_sign {text-shadow: 0 0 24px #FFF, 0 0 4px #FFF, 1px 1px 2px #333;
	font-size: 130px;
	text-align: center;
	margin: auto auto 12px auto;
	width: 130px;
	background: #464646;
	border-radius: 50%;
	
}

/*CTA button*/

.cta_button {
  display: inline-block;
  margin: 70px 10px 10px 10px;
  padding: 8px 15px;
  background: #2d78d2;
  color: #FFF;
  font-size: 38px;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);
}

.cta_button a {
	color: #FFF;
	text-decoration: none;
}

.cta_button:hover  { background: #1f4f88; }

.embossed-link {
  box-shadow: 
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.17), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}

.cta_button .embossed-link {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2),
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.15), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}

.cta_button .embossed-link:active {
  box-shadow: 
    inset 0 -2px 1px rgba(255,255,255,0.2),
    inset 0 3px 2px rgba(0,0,0,0.12);
}

/* GENUINE AWARDS */

.genuine-award-wrapper {height:140px;
	width: 140px;
	float:left;
	display: inline-block;
	margin: 08px;
}

.genuine-award {
   margin-top:30px;
   height: 100px;
   width: 100px;
   background: #BDDDFF;
   position: absolute;
}
.genuine-award:before {
   height: 100px;
   width: 100px;
   background: #BDDDFF;
   content:"";
   position: absolute;
   /* Rotate */
   -moz-transform: rotate(30deg);
   -webkit-transform: rotate(30deg);
   -ms-transform: rotate(30deg);
   -o-transform: rotate(30deg);
   transform: rotate(30deg);
   z-index: 800;
}
.genuine-award:after {
   height: 100px;
   width: 100px;
   background: #BDDDFF;
   content:"";
   position: absolute;
   /* Rotate */
   -moz-transform: rotate(-30deg);
   -webkit-transform: rotate(-30deg);
   -ms-transform: rotate(-30deg);
   -o-transform: rotate(-30deg);
   transform: rotate(-30deg);
   z-index: 800;
}

.genuine-award p {text-align: center;
	text-indent: ;
	font-size: 14px;
	position: relative;
	margin-bottom: -100px;
	z-index: 1000;
}